{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block body %}


{{ macros.navbar() }}

<div class="container">
  
    <div class="jumbotron shadow-lg p-3 mb-5 bg-light">
      <h1 class="display-3">About Our Project</h1>
      <div class="col-6">
        <h2>Our Questions</h2>
        <h4>Aggregate and Normalize Data</h4>
        <h4>Can we create clear consistent visulations?</h4>
        <h4>How can we use data to understand problems? </h4>
      </div>

    </div>
    <div class="card border-0 shadow my-5">
      <div class="card-body p-5">
    <!-- Start of website -->
    <div class="row">
      <div class="col-6">
      <div class="card">
      <h2>An Optimized Random Forest Regression Model for Predicing County Health Ranking</h2>
      <p>The healthcare rankings for all 254 counties in Texas from 2015-2020 were used to construct a Random Forest
        regression model consisting of 500 randomized decision trees. The model was initially trained on all health
        data metrics (>50 different metrics) to determine relative importances for model parameters. The top 10 model 
        parameters were then used to construct an optimized regression model with almost equivalent performance to the 
        use of all health data metrics. Below is a deployment of this optimized Random Forest Regression Model. To 
        submit data from your county or to explore these parameters, enter the health data metrics into the fields
        below as floating-point numbers to predict the ranking based on these parameters.  
      </p>
      </div>
    </div>
    <div class="col-6">
    <h2>Enter Health Data Metrics</h2>
    <form method=post enctype="multipart/form-data">
      <label for="Premature_Age_Adjusted_Mortality_per_100K">Premature Mortality Rate per 100K:</label>
      <input type="text" id="Mortality" name="Mortality"><br>
      <label for="Percent_Ppl_Under65_w/o_Insurance">Without Insurance 65 and Under %:</label>
      <input type="text" id="NoInsurance" name="NoInsurance"><br>
      <label for="Percent_Children_Living_in_Poverty">Children Living in Poverty %:</label>
      <input type="text" id="ChildPoverty" name="ChildPoverty"><br>
      <label for="Percent_Adult_Smokers" name="Percent_Adult_Smokers">Adult Smokers %:</label>
      <input for="text" id="AdultSmokers" name="AdultSmokers"><br>
      <label for="Percent_American_Indian_or_Alaskan_Native">American Indian or Alaskan Native %:</label>
      <input type="text" id="Demographics" name="Demographics"><br>
      <label for="Graduation_Rate">Graduation Rate:</label>
      <input type="text" id="Graduation" name="Graduation"><br>
      <label for="Median_Household_Income">Median Household Income(MHI):</label>
      <input type="text" id="MHI" name="MHI"><br>
      <label for="Percent_Low_Birthweight_Births">Low Birthweight Birth %:</label>
      <input type="text" id="LowBirthweight" name="LowBirthweight"><br>
      <label for="Teen_Birth_Rate">Teen Birth Rate:</label>
      <input type="text" id="TeenBirth" name="TeenBirth"><br>
      <label for="Percent_Pop_w/o_Adequate_Access_to_Food">Population with Inadequate Food Access %:</label>
      <input type="text" id="FoodAccess" name="FoodAccess"><br>
      

      <input type=submit value=Submit> 
    </form>
    <h4>Predicted Ranking by Random Forest Model: {{ result }}</h4>
  </div>
      <div class="row">
        <div class="col-6"> </div>
    
  </div>
    <hr>
          <div class="col-12">
            <h2>KNN</h2>
              <p>Qualitative Data</p>
          </div>
  
            <hr>
          </div>
        </div>
        
            <!-- section for image cards to data sources -->
        <div class="row">
            <div class="col-6">
            <div id="section5">
              <div class="card">
                <img class="card-img-top " src="static/images/correlation_chart.png" alt="Card image cap">
                <div class="card-body">
                  <hr>
                  <p class="card-text">Data source for health metrics over time used in our project.</p>
                </div>
                <hr>
              </div>
            </div>  
            </div>
            <div class="col-6">
            <div class="card">
              <br>
              <img class="card-img-top" src="https://medicaid.gov/resources/images/logos/logo-MedicaidGov.svg" alt="Card image cap">
              <br>
              <div class="card-body">
                <hr>
                <p class="card-text">Data source for medicaid enrollment and state expansion data used in our project.</p>
              </div>
              <hr>
              <div class="card-body">
                <a href="https://www.medicaid.gov/medicaid/national-medicaid-chip-program-information/medicaid-chip-enrollment-data/monthly-medicaid-chip-application-eligibility-determination-and-enrollment-reports-data/index.html" class="card-link">Monthly enrollment datasets available here!</a>
              </div>
            </div>
            </div>
          </div>
        </div>
        </div>
       <hr>

       {{ macros.footer() }}
{% endblock %}
